{% extends 'base.html' %}

{% block title %}SEZ ME{% endblock %}
{#{% block scripts %}#}
{#    {{ super() }}#}
{#    <script>#}
{#        $(document).ready(function () {#}
{#            $("img.pullquote").hide();#}
{##}
{#            $("#imageify").click(function () {#}
{#                $.post("{{ url_for('generate_image') }}",#}
{#                        {#}
{#                            quote: "{{ message }}"#}
{#                        },#}
{#                        function (data, status) {#}
{#                            #}
{#                        });#}
{#            });#}
{#        });#}
{#    </script>#}
{#{% endblock %}#}
{% block page_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="media">
                            <div class="media-left media-middle">
                                <a href="#">
                                    {% set avatar = url_for('static', filename=persona.flask_base_folder + 'avatar.jpg') %}

                                    <img class="media-object" width="64" height="64" src="{{ avatar }}" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">{{ persona.author }}</h4>
                                <h5>@{{ persona.handle }}</h5>
                            </div>
                        </div>
                        <div class="well-lg ">
                        <a href="{{ public_url }}"><img alt="{{ message}}" src="{{ local_url }}" class="pull-quote img-responsive" alt="Responsive image"></a>
                            </div>

                    </div>
                    <div class="panel-footer clearfix">
                        <div class="pull-right">
                            <a href="#" id="toot" class="btn btn-success">
                                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>Toot more
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
{{ super() }}
    <script>
        $(function () {
            $('#toot').click(function () {
                location.reload();
            });
        });
    </script>
{% endblock %}
